$FontC: rgb(203, 233, 245);   //Variables these all do what they are written as.

$invisible: rgba(255, 0, 0, 0);

$Headerc: rgb(251, 188, 86);

$Bordera: 3px double red;

$fontHeader: 'Fugaz One', cursive;
